.paddingAndMargin{
    padding: 1px 25px;
    margin: 10px 0px;
}

.mainContainer{
    margin-top: 20px;
}

.formikPaper{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 15px;
}

.fade-enter{
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 250ms ease-in;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

